/*DESKTOP-FIRST*/
.acomodo-seccion-2{
    display: flex;
    flex-direction:row;
}

#imagen-3{
    padding-top: 5%;
    height: 400px; 
    width: 600px;
}

@media screen and (max-width:600px){
    .acomodo-seccion-2{
        flex-direction:column;
        width: auto;
    }
    
    #imagen-3{
        width: 400px;
        height: 200px;
        padding-bottom: 5%;
    }
}